/*
    todo.css
*/


/* TodoList */
.todo-large-font{
    font-size: large;
}
#todo-box{
    width: 50%;
}
.todo-list{
    padding-left: 0px;
}
.todo-item{
    list-style: none;
    padding-left: 0px;
}
#todo-add-item{
    width: 100%;
}
.todo-over-view{
    height: 60px;
    width: 80%;
}
.todo-status-button{
    height: 60px;
    width: 10%;
}
.todo-remove-item {
    height: 60px;
    width: 60px;
    background-image: url("../img/icons/delete_black_24dp.svg");
    background-repeat: no-repeat;
}
#todo-remove-item-image {
    
}